@import "tailwindcss";

@theme {
  --color-cherry-red: #d41e3a;
  --color-cherry-black: #ffb6c1;
  --color-cherry-gold: #c9a84c;
  --color-waxstat-teal: #71d8a7;
}

html,
body {
  background-color: #ffb6c1;
}
