@import "tailwindcss";

@theme {
  --color-cherry-red: #d41e3a;
  --color-cherry-black: #0d0d0f;
  --color-cherry-gold: #c9a84c;
  --color-waxstat-teal: #71d8a7;
}

html,
body {
  background-color: #0d0d0f;
}
